body {
    background-color: rgb(3, 119, 221);
    margin: auto;
    /* max-width: 500px; */
}
h1{
    display: inline;
    color: black;
    font-family: "Super Mario Bros.";
    font-size: 50px;;
    text-shadow: 0 5px rgb(230, 172, 14);
    border:12px solid white;
    width: 900px;
    border-top: none;
    letter-spacing:20px;
    background-color: white;
    margin: 0 30%;
}

#happy {
    display:inline;
    width: 370px;
    height:370px;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top:20%;
    right:2%;
    cursor: pointer;
    animation:jumpStart 0.5s both infinite alternate-reverse;
}
#cool {
    display:inline;
    width: 370px;
    height:370px;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top:20%;
    left:2%;
    cursor: pointer;
    animation:jumpStart 0.5s both infinite alternate-reverse;
}
#silly {
    display:inline;
    width: 500px;
    height:500px;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top:14%;
    left:35%;
    cursor: pointer;
    animation:jumpStart 0.4s both infinite alternate-reverse;

}
#startButton1 {
    position:fixed;
    width: 300px;
    height: 500px;
    top:30%;
    left:40%;
    opacity:0;
}
#startButton2 {
    position:fixed;
    width: 300px;
    height: 500px;
    top:30%;
    left:80%;
    opacity:0;
}
#startButton3 {
    position:fixed;
    width: 300px;
    height: 500px;
    top:30%;
    left:5%;
    opacity:0;
}
p {
    display:none;
    text-align: center;
    color: rgb(236, 176, 102);
    font-size: 40px;;
    letter-spacing:10px;
    opacity: 0.9;
}
#timer {
    display: none;
    text-align: center;
    color: rgb(236, 176, 102);
    font-size: 40px;;
    letter-spacing:10px;
    position:absolute;
    top:0px;
    right:10px;
}

#grass {
    display:none;
    position:absolute;
    bottom:0px;
    margin:auto;
    height: 85px;
    width:2000px;
    border:1px solid rgb(149, 238, 149);
    background: linear-gradient(to bottom, rgb(135, 244, 153), rgb(32, 206, 32), rgb(1, 80, 1));
}

#char {
    display:none; 
    background-image: url(../pictures/happy.png);
    position:absolute;
    background-size: 80px 80px;
    width:80px;
    height: 80px;
    bottom:85px;

}

#obstacle1 {
    display:none;
    background-image: url(../pictures/plant.png);
    width: 50px;
    height: 50px;
    position:absolute;
    bottom:85px;
    background-size: 50px 50px;
    animation-name: move;
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    animation-timing-function:linear; 
}

#obstacle2 {
    display:none;
    background-image: url(../pictures/fire.png);
    width:50px;
    height: 50px;
    position:absolute;
    bottom:85px;
    background-size: 50px 50px;
    animation-name: move;
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-timing-function:linear; 
}
#obstacle3 {
    display:none;
    background-image: url(../pictures/turtle.png);
    width:50px;
    height: 50px;
    position:absolute;
    bottom:85px;
    background-size: 50px 50px;
    animation-name: move;
    animation-duration: 20s; 
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

#cloud1 {
    display:none;
    background-image: url(../pictures/cloud.png);
    background-repeat: no-repeat;
    height:180px;
    width:600px;
    position:absolute;
    top:5px;
    left:900px;
    opacity:0.8;
    background-size: 300px 190px;

    animation-name: move;
    animation-duration: 40s; 
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function:linear; 
}

#cloud2 {
    display:none;
    background-image: url(../pictures/cloud.png);
    background-repeat: no-repeat;
    height:180px;
    width:600px;
    position:absolute;
    top:85px;
    left:580px;
    opacity:0.8;
    background-size: 300px 190px;

    animation-name: move;
    animation-duration: 20s; 
    animation-delay: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function:linear; 
}
#cloud3 {
      display:none;
      background-image: url(../pictures/backcloud.png);
      background-repeat: no-repeat;
      height:180px;
      width:600px;
      position:absolute;
      top:55px;
      left:580px;
      opacity:0.8;
      background-size: 300px 190px;
  
      animation-name: move;
      animation-duration: 10s; 
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-timing-function:linear; 
}

#sun {
       display:none;
       background-image: url(../pictures/sun.png);
       background-repeat: no-repeat;
       height:180px;
       width:600px;
       position:absolute;
       top:10px;
       left:580px;
       opacity:0.8;
       background-size: 300px 190px;
   
       animation-name: move;
       animation-duration: 90s; 
       animation-fill-mode: both;
       animation-iteration-count: infinite;
       animation-timing-function:linear; 
 
}
#restart {
    background-image: url(../pictures/gameover.png);
    border: 8px solid black;
    border-radius: 10%;
    display: none;
    width: 500px;
    height:500px;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top:14%;
    left:35%;
    cursor: pointer;
    animation: rotate 2s infinite alternate;
}
#winner {
    background-image: url(../pictures/winner.png);
    border: 8px solid black;
    border-radius: 10%;
    display: none;
    width: 500px;
    height:500px;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top:14%;
    left:35%;
    cursor: pointer;
    animation: rotate 2s infinite alternate;
}
.jumping {
    animation:jump 0.5s;
}
.moving {
    animation:emoji 0.5s infinite linear;
}


@keyframes move{
    from{ left: 1200px;}
    to{ left: 0px;}
}

@keyframes  jump{
    0% {
        top: 200px;
      }
      50% {
        top: 180px;
      }
      75% {
        top: 180px;
      }
      100% {
        top: 200px;
      }
    }
    
@keyframes emoji{
        0% {transform:translateY(-2px);}
        50% {transform:translateY(2px);}
}
    
@keyframes jumpStart{
        0% {transform:translateY(-2px);}
        50% {transform:translateY(200px);}
        100% {transform: translateY(0px);}
}
@keyframes rotate{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}